[Desktop Entry]
Version=1.0
Name=Google Gemini
Exec=omarchy-launch-webapp https://gemini.google.com/
Terminal=false
Type=Application
Icon=gemini
StartupNotify=true
